extends layout

block content
  h1= title
  form(action='/api/create' method='POST')
    .form-group
      textarea#comment.form-control(rows='5', name="comment")
    .form-group
      center
        button.btn.btn-success(type='submit') Success
  .panel-group
    each value,index in data
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle='collapse' href='#collapse'+index onclick="getChild("+value._id+")")
              = value.comment
        .panel-collapse.collapse(id="collapse"+index)
          .panel-footer
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse' href='#collapseA'+index)
                    = value.comment
              .panel-collapse.collapse(id="collapseA"+index)
                .panel-footer ABC